* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
main{
    background: #EEF2F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#calculator{
    width: 320px;
    height: auto;
    overflow:hidden;
    margin: auto;
    padding: 20px 20px 9px;
    position:relative;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),0 6.7px 5.3px rgba(0, 0, 0, 0.048),0 12.5px 10px rgba(0, 0, 0, 0.06),0 22.3px 17.9px rgba(0, 0, 0, 0.072),0 41.8px 33.4px rgba(0, 0, 0, 0.086),0 100px 80px rgba(0, 0, 0, 0.12);
}
.header button.clear{
    position:absolute;
    z-index:6;
}
.header .result{
    height: 80px;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    padding: 20px 10px;
    background: rgba(84, 84, 84, 0.2);
    font-size: 1em;
    font-weight:normal;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: right;
}
.calculator-main,.header{
    overflow: hidden;
    padding: 0.25rem 0;
}
.calculator-main button,.header button.clear{
    float: left;
    position: relative;
    top: 0;
    width: 64px;
    height: 60px;
    background: rgba(0,0,0,0.5);
    margin: 0 6px 12px 0;
    color: #ccc;
    text-align: center;
}
.header button.clear{
    background-color: transparent;
    color: white;
    top: -8px;
    height: 54px;
    width: 54px;
}
.calculator-main button.operator{
    background: rgba(0, 0, 0, 0.7);
}
.calculator-main button:hover {
    background: rgba(255,255,255,0.8);
    color: #333;
}
.calculator-main button.eval {
    background: #F4D03F;
    color: #ffffff;
}
.calculator-main button.eval:hover {
    background: #D4AC0D;
    color: #ffffff;
}
.header button.clear:hover {
    background: rgba(0,0,0,0.1);
    color: white;
}